<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}} Materiales</h4>
  <button (click)="activeModal.dismiss()" type="button" class="close"
          aria-label="Close button" aria-describedby="modal-title">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formMaterial">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input formControlName="mateNombre" type="text"  class="form-control" placeholder="Ingrese material">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Descripción</label>
      <div class="col-sm-9">
        <input formControlName="mateDescripcion" type="text" class="form-control" placeholder="Ingrese descripción">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="formMaterial.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="formMaterial.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Actualizar</button>
  <button type="button" class="btn btn-outline-secondary"
          (click)="activeModal.dismiss('Cerrar modal')">Cancelar</button>
</div>
<pre>{{formMaterial.value | json}}</pre>
