<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{title}} Personas</h4>
  <button (click)="activeModal.dismiss()" type="button" class="close"
          aria-label="Close button" aria-describedby="modal-title">
    <span aria-hidden="true">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formPersona">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Nombre</label>
      <div class="col-sm-9">
        <input formControlName="persNombres" type="text"  class="form-control" placeholder="Ingrese nombre">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">ApellidosPaterno</label>
      <div class="col-sm-9">
        <input formControlName="persAP" type="text" class="form-control" placeholder="Ingrese descripción">
      </div>
    </div>
    <div class="form-group row"><br>
      <label class="col-sm-3 col-form-label">Apellido Materno</label>
      <div class="col-sm-9">
        <input formControlName="persAM" type="text"  class="form-control" placeholder="Ingrese nombre">
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">DNI</label><br>
        <div class="col-sm-9">
          <input formControlName="persDni" type="text"  class="form-control" placeholder="Ingrese nombre">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Telefono</label>
        <div class="col-sm-9">
          <input formControlName="persTelefono" type="text"  class="form-control" placeholder="Ingrese nombre">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="formPersona.invalid" *ngIf="title=='Nuevo'" class="btn btn-primary" (click)="save()">Guardar</button>
  <button type="button" [disabled]="formPersona.invalid" *ngIf="title=='Modificar'" class="btn btn-primary" (click)="update()">Actualizar</button>
  <button type="button" class="btn btn-outline-secondary"
          (click)="activeModal.dismiss('Cerrar modal')">Cancelar</button>
</div>
<pre>{{formPersona.value | json}}</pre>
